a,
a span {
	 @include transition ( all .15s ease-in-out );}

.content-img,
.content-text {
	@include transition ( all .25s ease-in-out );
}





#sidebar.open {

}


#main.open {
	
}


#sidebar.narrow {

}


[role="banner"].visible {
	opacity:1;
	height: 144px;
	z-index: 4000;}




