[data-icon]:before {
	content:attr(data-icon);
	position: relative;
	color:inherit;
	padding-right:em(10); 
	font-family: fontawesome;
	@include inline-block;}

.row .btn {
	display: block;
	text-align: center;
	text-shadow: 0 1px 0 white;
	color:darken(#548B9F, 8%);
	width: 100%;
	@extend .has-shadow;
	background: white;
    @include background-image(linear-gradient( top, white, #F3F3F3));
    border-radius:4px;
	margin-top: .75em;
    padding: .55em 1em;
    font-weight: bold;
    &:hover  {
    	color: darken(#548B9F, 20%);
    	@include background-image(linear-gradient( top, white #EFEFEF));}

	@include media( $tiny-screen ){
		@include inline-block;
		width: auto;
		margin-top: .25em;}
}


.right {
	 display: inline-block;
	 float:right;}

