	[data-icon]:before {
		content:attr(data-icon);
		position: relative;
		color:inherit;
		padding-right:em(10); 
		font-family: fontawesome;
		@include inline-block;}

	.row h1,
	.row .btn {
		display: block;
		width: 100%;
		margin-top: .75em;
		&.btn {
			text-align: center;
			color:white;
			padding: .5em 11px;
			background: #69ADC5;
			font-weight: bold;
			border-radius:3px
		}
		@include media( $tiny-screen ){
			@include inline-block;
			margin-top: 0;
			width: auto;
		}
	}


	// 	h1, .btn {
	// 		display:block;
	// 	}
	// 	h1 {
	// 	        color:$desa-sky;
	//                      display:block;
	//                      margin-bottom: .5em;
	//                      @include media( $tiny-screen ){
	//                      	  margin-bottom: 0;
	//                      	  @include inline-block;}
	//                      }
	//                      .btn {
	//                      	border-radius:3px;
	//                      	color:white;
	//                      	font-weight: bold;
	//                      	padding: .5em 11px;
            
	//                        &.create {
	//                      		background: darken($cyan, 14%);
	//                      		background: #69ADC5;
	//                      		&.create:hover {
	//                      			color:white;
	//                      			background: darken(#69ADC5, 6%);}
	//                      		}
	//                      	}
	// }

	.right {
		 display: inline-block;
		 float:right;}

