.filter {
	padding-bottom: em(6);
	margin-bottom: 2rem;
	margin-bottom: 2em;

	p { display:none; }

            #sort {
            	@include display-box;
            	li {
            	        line-height: 22px;
                                @include box-flex( 1 );
                                text-align: center;
            	        a {
                                    color:#69ADC5;
            		color:#BDDAE4;
                                    font-weight: bold;
            		&:hover {
            		     color:#33545F;}
            		}
            	}
            }

            @include media( $medium-screen ) {
                        text-align: right;
                        border-bottom:1px solid lighten($light-gray, 3%);
                        p { @include inline-block;  margin: 0 1em 0 0;}


                        #sort {
                        	display: block;

                        	li {
                        	       line-height: auto;
                                           @include box-flex( none );
                        	       margin-bottom: 0 !important;
            		       margin-right: 1rem;
            		       margin-right: 1em;
            		       @include inline-block;
                        	}
                        }



            }


}




