/*---------------------------------------------------------

// GRID

-----------------------------------------------------------*/

.grid-3,
.grid-4,
.grid-6,
.grid-6-8,
.grid-6-offset-3,
.grid-8,
.grid-12 {
    width: 100%;
    [role="contentinfo"] &,
    #services & {
    	 margin-bottom: $base-line-height *  2.5;
    }
}

@include media( $small-screen ) {
     .grid-2 {
         @include span-columns( 3 of 6 );
         @include omega( 2n );}
}

@include media( $desktop-screen ) {

   .grid-2 {
       @include span-columns( 3, 9 );
       @include omega-reset(2n,9);
       @include omega( 3n );}

   .grid-3 {
   	  @include omega( 4n );
   	  @include span-columns( 3,12 );}

   .grid-4 {
   	  margin-bottom: 0;
   	  @include span-columns( 4,12 );}

    .grid-5 {
       @include span-columns( 5,12 );}

    .grid-6 {
   	  @include span-columns( 6,12 );
   	  @include omega( 2n );}

     .grid-6-offset-3 {
        @include span-columns( 5,9 );
        @include shift( 2 );}

}

@include media( $large-screen ){
   .grid-2{
        @include span-columns( 3,12 );
        @include omega-reset(2n,12);
        @include omega-reset(3n,12);
        @include omega( 4n );
    }
}

// @include media( $wide-screen ){
//    .grid-2{
//         @include span-columns( 2,12 );
//         @include omega-reset(2n,12);
//         @include omega-reset(3n,12);
//         @include omega-reset(4n,12);
//         @include omega( 6n );
//     }
      
// }


@include media( $wide-screen ){

   .grid-2{
        @include span-columns( 3,15 );
        @include omega-reset(2n,15);
        @include omega-reset(3n,15);
        @include omega-reset(4n,15);
        @include omega( 5n );
    }

    .grid-4 {
        @include span-columns( 4,15 );
    }

    .grid-5 {
        @include span-columns( 5,15 );
    }

    .grid-5-offset5 {
        @include shift( 5 );
        @include span-columns( 5,15 );
    }
      
}




/*---------------------------------------------------------

// SECTION

-----------------------------------------------------------*/

section,
[role="banner"],
[role="contentinfo"] {
        overflow: hidden;
	  position: relative;
	  @include clearfix;
	  width: 100%;}

[role="banner"] {
	  overflow: visible;}


section {
      padding: 2.5em 0;
	@include clearfix;
      &.empty {
           text-align: center;
           padding: 3em 0;}
      &.title .container {
          // border-bottom:1px solid lighten($light-gray, 4%);
      }
}

#wrapper {
	overflow: hidden;
	position: relative;
	z-index: 400;
      height: 100%;
	width: 100%;

      #main {
        // margin-left: 160px;
        position: relative;
      }
}


/*---------------------------------------------------------

// CLASS CONTAINER

-----------------------------------------------------------*/

.container {
	@include outer-container;
	width: 88%;
	max-width: 96%;
	// padding: 0 0 1.5em ;
      
      @include media( $large-screen ){
              width: 92%;
      }
        
}







