#toggle {
	position: absolute;
	top:em(10);
	left:2%;
	z-index: 800000;
	background: url(../img/icon/list.svg) no-repeat center center;
	background-size: 65% auto;
	display: block;
	@include size( 52px );}


[role="banner"] {
	background: #33545F;
	@include box-sizing( content-box );
	border-bottom:12px solid darken(#33545F, 3%);
	@include transition ( height .25s ease );
	overflow: hidden;
	height: 72px;}

#logo {
	@include size( 52px );
	@include inline-block;
	border-radius:50%;
	border:3px solid white;
            position: relative;
            top:10px;
            left:4%;
            background: url(../img/logo.png) no-repeat center center; 
            background-size: 42px auto;
}

#header-profile {
	@extend .right;
	clear:right;
	position: relative;
	padding: 0 4% 0 4%;
	.avatar {
	    position: relative;
                
                img {
                	margin-top: em(10);
                	@include size( 52px );
                	@include inline-block;;
                	border-radius:50%;
                }

                figcaption {
                	font-weight: bold;
                	line-height: 72px;
                	margin-left: .5em;
                	font-size: em(14);
                	@include inline-block;
                	vertical-align: top;
                	a { 
                		color: white; 
                                    span {
			            display:none;
		                        @include media( $medium-screen ){
		                        	display: inline;
		                        }
		}
                	}
                }
	}
}

#user-settings {
	width: 100%;
	top:72px;
	height: 72px;
	background: darken(#33545F, 3%);
 //            ul {
 //            	@include display-box;
 //            	width: 100%;
 //            	@include media( $medium-screen ) {
	// 	display: block;}

 //                        li {
	// 	     font-size: em(14);
	// 	     @include box-flex( 2 );
	// 	     line-height: 72px;
	// 	     border-left:1px solid lighten(#33545F, 8%);
	// 	     text-align: center;
	// 	     @include media( $medium-screen ){
	// 	     	@include inline-block;
	// 	     }
	// 	     a {
	// 	     	display: block;
	// 	     	font-size: em(36);
	// 	     	color: white;
	// 	     	&:hover {
	// 	     		color: white;}
	// 	     	span {
	// 	     		@include hide-text;
	// 	     	}
	// 	    }
	//           }

	// }

}


