.has-shadow {
	box-shadow: 0 1px 2px rgba(black, .09);
	background: white;}

.has-gray {
	box-shadow: 0 1px 2px rgba(black, .09);
	background: #F5F9FB;}

.input-wrapper {
	padding: 1.5em;
	@extend .has-shadow;
}

.login,
.forgot-password {
	display:none;
	position: relative;}

.activated {
	display: block;}

.forgot-password.fadeOut,
.login.fadeOut {
	@include animation ( fadeOut .25s ease forwards);}

.forgot-password.fadeIn,
.login.fadeIn {
	display:block !important;
	@include animation ( fadeIn .25s ease forwards);}


@include keyframes( fadeOut ) {
   0% { opacity:1; @include transform( translateX(0px) );}
   100% { opacity:0; @include transform( translateX(-30px) );}}


@include keyframes( fadeIn ) {
   0% { opacity:0; @include transform( translateX(-30px) );}
   100% { opacity:1; @include transform( translateX(0px) );}}