/*-------------------------------------------------
// SIDEBAR
---------------------------------------------------*/

$sidebar-bg:#4F5B5F;

#sidebar {
    height: 100%;
    position: fixed;
    text-align: center;
    overflow: hidden;
    top:0;
    background: $sidebar-bg;
    // left:0;
    left:-220px;
    z-index: 8000;
    width: 220px;
    nav {  
        padding-top:  2em; }

    nav  li { position: relative;
           a {
              @include transition ( all .22s ease-in-out );
               display: block; 
               overflow: hidden;
               position: relative;
               vertical-align: middle;
               padding:1.5em 0;
               text-shadow: 0 -1px 0 darken($sidebar-bg, 25%);
               color: lighten($sidebar-bg, 35%);

                &:hover,
                &.current {
                     color: rgba(#1A687F,.65); }

              &:hover:before,
              &.current:before {
                     position: absolute;
                     content:'';
                     display: block;
                     top:50%;
                     margin-top: -15px;
                     right:0;
                     @include triangle( 30px, $base-body-background , left );
              }
    
                &:hover span.nav-icon,
                &.current span.nav-icon {
                     opacity:1; }

            }
    }

}


/*-------------------------------------------------
  //ICON OF THE NAV BAR
-----------------------------------------------------*/

.nav-icon {
     display: block;
     margin:0 auto;
     opacity:.56;
     background: darken($sidebar-bg, 4%);
     border-radius:50%;
     @include transition ( all .15s ease-in-out );
     background-size: 65% auto;
     background-position: center center;
     background-repeat: no-repeat;
     vertical-align: middle;
     @include size( em(50) );}

     #icon-dashboard {
     	   background-image: url(../img/icon/dash.svg);}

     #icon-beacons {
     	   background-image: url(../img/icon/signal.svg);}

     #icon-branches {
     	   background-image: url(../img/icon/branches.svg);}

     #icon-contents {
     	   background-image: url(../img/icon/content.svg);}

     #icon-customers {
     	   background-image: url(../img/icon/user.svg);}

