body {
	background: $base-body-background;
            font: 100%/1.5 'Source Sans Pro', $helvetica;
            font-smooth: subpixel-antialiased;
            -ms-overflow-x: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            line-height: 1.5;}

#login-logo,
#login-form {
    position: relative;
    padding: 1em 0 !important;
}

 #login-logo  {
 	@include transition ( all .35s ease );
    #login-dolphin-logo {
    border:8px solid white;
    @include animation( fadeUp .45s  ease-in );
    @include box-shadow( 0 1px 2px rgba(black, 0.15 ));
    @include transition ( background  width height .2s ease-in-out );
    background: darken(#3F7C92, 10%) url(../img/logo-s.png) no-repeat;
    background-position: center center;
    @include image-2x("../img/logo-s2x.png",124px, 124px);
    margin:0 auto 0 auto;
    @include size( em(124) );
    border-radius:50%;

           @include media( $medium-screen ){
                  border:9px solid white;
                  background: darken(#3F7C92, 10%) url(../img/logo-b.png) no-repeat; 
                  background-position: center center;
                  @include image-2x("../img/logo-b2x.png",144px, 144px);
                  @include size( em(144) );}
    }

 }

 // form {
 //    position: absolute;
 //    top:1.5em;
 //    left:50%;
 //    z-index: 1000;
 //    margin-left: 220px;
 // }



 #login-form {
    #login-form-container {
        position: relative;
        @include animation( fadeDown .35s  ease-in );
        max-width: 440px;
        margin: 0 auto;}

    #forgot, #back-to-login, header {
        text-align: center;
        margin-bottom: .75em;

        &#forgot,
        &#back-to-login {
            font-weight: bold;
            margin-top: 4em;
        }
    }   

 }

 
// Those are the fieldset 
.input-wrapper {
	position: relative;
	text-align: left;
	padding: 1.5em;
    header{ 
    	text-align: center; 

    	h2 {
    		letter-spacing: 0 !important;
    	}

    }
}
