$form-border-color: $base-border-color;
$form-border-color-hover: lighten(#548B9F, 10%) ;
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: 0 0 0 1px rgba( #fff, .45) ;
$form-box-shadow: 0 0 4px 0  #BDDAE4 ;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

form {
  margin-top: 1em;}

fieldset {
  background: lighten($base-border-color, 50);
  border: 1px solid $base-border-color;
  border:0;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}


input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  // font-weight: bold;
  // font-size: em(14);
  color: #33545F;
  margin-bottom: $base-line-height / 3;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

form li {
  margin-bottom: $base-line-height * 1.25;
  &:last-child { margin-bottom: 0; }
}

textarea,
#{$all-text-inputs} {
  position: relative;
  background: darken(#EBEFF1, 5%);
  border-radius:$form-border-radius/2;
  @include transition ( border .75s ease );
  border:2px solid transparent;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 1.75) ($base-line-height / 3);
  // resize: vertical;
  width: 100%;


  &:focus {
    border-bottom-color: $form-border-color-hover;
    @include placeholder { opacity:0; visibility: hidden; };
    outline: none;
  }
}

input[type="search"] {
  @include appearance(none);}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

textarea {
  min-height: 7em;
  height: 7em;
}

select {
  width: auto;
  margin-bottom: $base-line-height;
  .no-js {
      display: none;}
}


button {
  border:0;
  font-size: em(14);
  outline:0;
  @include transition ( all .15s ease );
  display: block;
   border-radius:em(3);
  cursor:pointer;
  padding: 1em 2.5em;
  color: #548B9F;
  background: none;
  @include appearance( none );

  &.delete-contents {
    color:white;
    background: $delete;
    &:hover {
      background:$delete-hover;}
  }

  &.update-contents {
    color:white;
    background: #5B96AC;
    &:hover {
        background: darken( #5B96AC, 6%);}
  }

  &.cancel-action {
    background: #F5F9FB;}


} 


input[type="submit"] {
  border:0;
  display: block;
  width: 100%;
  margin: 1.5em 0  .75em;
  @include transition ( background .3s ease );
  cursor: pointer;
  user-select: none;
  background: #BDDAE4;
  font-weight: bold;
  color:white;
  padding: 1em 3.75em;
  border-radius:3px;
  &:hover {
       background: darken(#BDDAE4, 14%);}
}

.content-type {
    display: none;
}


p.field-help {
   opacity:0;
   display: block;
   color:#548B9F;
   max-height: 0;
   font-weight: bold;
   font-size: em(14);
}

