ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }
}

dl {
  @include inline-block;
  margin: 0 8% 0 0; 
  text-align: center;
  font-size: em(14);
  line-height: $base-line-height;

  dt {
    font-weight: 600;
    @include hide-text;
    color:darken($light-gray,3%);
  }

  dd {
     margin: 0;
     font-weight: 700;
     font-size: em(18);
     color:lighten($dark-gray, 2%);

     &.given-val {
         color:#33545F;}
     
     &.view-val {
         color: #33545F;
     }
  }
}
