@import "flash";




@mixin omega-reset($nth,$num-col) {
	 &:nth-child(#{$nth}) { margin-right:flex-gutter($num-col);}
	 &:nth-child(#{$nth}+1) { clear:none; }

}


// @mixin omega-reset($nth, $num){
//             &:nth-child(2n) { margin-right: flex-gutter($num);}
//             &:nth-child(#{$nth}+1) {clear:none;}
// }
